<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./styles/Article.css" rel="stylesheet">
    <link href="./styles/Right-box.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="topnav">
            <a href="#" class="logo"><img height="18px" src="./img/THEFOXXSTUFF.svg"></a>
            <a id="active" href="#">Главная</a>
            <a href="#">Новости</a>
            <a href="#">Игры</a>
            <a href="#">Музыка</a>
        </div>
    </div>

    <div class="container">
        <div class="px20"></div>
        <div class="banner">
            <img width="1300px" height="200px" src="./img/banner.jpg">
            <div class="banner-name">
            </div>
        </div>
        <!-- <div class="dialog">
            <div class="dialog-header">
                <div class="dialog-icon">
                    <img height="16px" width="16px" src="./img/Icon.svg">
                </div>
                <div class="dialog-name">
                    Text
                </div>
            </div>
            <div class="dialog-main">
                <div class="dialog-inner">
                    <h1>
                        Latest commit
                    </h1>
                    <p>
                        Как мне можно запретить перенос элементов на новую строку, а вместо этого обрезать содержимое или добавить горизонтальную прокрутку?
                    </p>
                    <img class="img-item" width="700px" height="200px" src="./img/art.png">
                </div>
            </div>
        </div> -->
        <div class="px20"></div>
        <div class="right-box">
            <div class="right-menu-b">
                <i class="fa fa-list" aria-hidden="true"></i>&#160;Разделы
            </div>
        <!-- GAMES -->
            <div class="categories">
            <a href="">
                <div class="categorie" id="games">
                    <div class="categorie-border">
                        <v>Games</v>
                    </div>  
                </div>
            </a>
            </div>
        <!-- DESIGN -->
            <div class="categories">
            <a href="">
                <div class="categorie" id="design">
                    <div class="categorie-border">
                        <v>Design</v>
                    </div>  
                </div>
            </a>
            </div>
        </div>
        <div class="left-box">
            <div class="left-box-head">
                <div class="left-box-head-name">
                    Figma design
                </div>
                <div class="box">

                    <div class="card">
                        <div class="card-image>">
                        <article class="news">
                        <div class="poster">
                        <img id="posterimg" width="300" height="180" src="./img/art.png">
                        </div>
                        <div class="infoboxy">
                        <div class="mainname"><a href="post.html">HTML To Figma</a></div>
                        <p>
                            Importing HTML layers to Figma is a best-effort process. Even getting 90% there can save you a ton of time, only having to clean up a few things.
                        </p>
                        <a href="#" class="btn" id="lil">
                        <div class="button">
                            MORE
                        </div>
                        </a>
                        <div class="meta">
                        <div class="infodata">AUGUST 13, 2019</div>
                        <div class="tag">Tag:</div>
                        <div class="tag-name"><a href="#post.html">Desgin</a></div>
                        </div>
                        </div>
                        </article>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image>">
                        <article class="news">
                        <div class="poster">
                        <img id="posterimg" width="300" height="180" src="./img/art.png">
                        </div>
                        <div class="infoboxy">
                        <div class="mainname"><a href="post.html">HTML To Figma</a></div>
                        <p>
                            Importing HTML layers to Figma is a best-effort process. Even getting 90% there can save you a ton of time, only having to clean up a few things.
                        </p>
                        <a href="#" class="btn"">
                        <div class="button">
                            Перейти
                        </div>
                        </a>
                        <div class="meta">
                        <div class="infodata">AUGUST 13, 2019</div>
                        <div class="tag">Tag:</div>
                        <div class="tag-name"><a href="#post.html">Desgin</a></div>
                        </div>
                        </div>
                        </article>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    <div class="footer">
    </div>
</body>
</html>